/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.box {
    padding: 0.1px 1em 1em;

    border-radius: var(--theme-shape-cardBorderRadius);
    background-color: var(--theme-color-cardBg);
}

.name {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: 0;
}

.title {
    display: inline;
    margin-top: 0;
    opacity: .8;
}

.cv {
    float: right;
    margin-right: 1em;
    z-index: 2;
}

.techList {
    display: inline-grid;
    grid-auto-flow: column;
    column-gap: 1em;
}

.pokemonList {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-evenly;
}