/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.view {
    padding: 0 1em;
}
@media screen and (min-width: 576px) {
    .view {
        padding: 0 2em;
    }
}
@media screen and (min-width: 576px) {
    .view {
        padding: 0 3em;
    }
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.listItem {
    display: grid;
    grid-template-areas: 
        "img title"
        "img desc"
    ;
    grid-template-columns: auto 1fr;
    column-gap: 1em;
    align-items: center;
    grid-template-rows: auto 1fr;
    margin: 0 0 2em 1em;
}

.listItem p, .listItem h2 {
    margin: 0;
}

.img {
    grid-area: img;
    position: relative;
}
.img > img {
    border-radius: var(--theme-shape-cardBorderRadius);
}

.localeTag {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3em;
    height: 1.5em;

    font-size: .8em;
    line-height: 1;
    text-align: center;
    padding: 1px .5em 0 0;

    background-color: var(--theme-color-background);
    border-radius: 0 var(--theme-shape-cardBorderRadius) 0;

    cursor: default;
}