/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.footer {
    display: flex;

    padding: .5em 1em;

    justify-content: space-between;
    align-content: center;

    color: var(--theme-color-footerColor);
    background-color: var(--theme-color-footerBgColor);
}
@media screen and (min-width: 576px) {
    .footer {
        padding: .5em 2em;
    }
}
@media screen and (min-width: 576px) {
    .footer {
        padding: .5em 3em;
    }
}

.externalLinks {
    display: grid;

    align-self: center;
    grid-auto-flow: column;
    align-items: center;
    column-gap: .5em;

    padding: 1px;
    line-height: 0;
    border-radius: 18px;
    background-color: var(--theme-color-footerContrastColor);
}