/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.box {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 25em;
}

.header {
    text-align: center;
}