/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.article {
    padding: 0 1em;
}
@media screen and (min-width: 576px) {
    .article {
        padding: 0 2em;
    }
}
@media screen and (min-width: 768px) {
    .article {
        padding: 0 3em;
    }
}

.article img {
    width: 100%;
}