/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.theme {
    --theme-typography-headerFamily: 'Montserrat', sans-serif;
    --theme-typography-headerWeight: 300;

    --theme-typography-bodyFamily: 'Lora', serif;
    --theme-typography-bodyWeight: 400;

    --theme-color-color: rgb(230, 225, 227);
    --theme-color-background: rgb(24, 20, 22);

    --theme-color-headerColor: rgb(230, 225, 227);
    --theme-color-headerBgColor: rgb(5, 5, 5);

    --theme-color-navigationBgColor: rgba(5, 5, 5, 0.5);

    --theme-color-footerColor: rgb(5, 5, 5);
    --theme-color-footerContrastColor: rgb(230, 225, 227);
    --theme-color-footerBgColor: rgb(5, 5, 5);

    --theme-color-cardBg: rgba(255, 255, 255, .05);
    --theme-shape-cardBorderRadius: 1em;

    --theme-dark-pictureOpacity: 0.9;
    --theme-dark-color-link: rgb(230, 225, 227);
    --theme-dark-color-linkVisited: rgb(172, 165, 168);
}