/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.theme {
    --theme-typography-headerFamily: 'Montserrat', sans-serif;
    --theme-typography-headerWeight: 300;

    --theme-typography-bodyFamily: 'Lora', serif;
    --theme-typography-bodyWeight: 400;

    --theme-color-color: rgb(0, 0, 0);
    --theme-color-background: rgb(252, 225, 224);

    --theme-color-linkVisited: rgb(32, 32, 32);

    --theme-color-headerColor: rgb(255, 255, 255);
    --theme-color-headerBgColor: rgb(0, 0, 0);

    --theme-color-navigationBgColor: rgba(0, 0, 0, 0.5);

    --theme-color-footerColor: rgb(0, 0, 0);
    --theme-color-footerContrastColor: rgb(255, 255, 255);
    --theme-color-footerBgColor: rgb(0, 0, 0);

    --theme-color-cardBg: rgba(255, 255, 255, .5);
    --theme-shape-cardBorderRadius: 1em;

    --theme-dark-pictureOpacity: revert;
}