/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 1rem;

    font-size: 1.5em;
    text-transform: uppercase;
}

.header {
    text-align: center;
}

.list {
    padding: 0;
    line-height: 3em;

    list-style-type: none;
}