/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.box {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3em 1em 0;
    height: 100vh;

    font-size: 1.5em;
    text-transform: uppercase;

    color: var(--theme-color-color);
    background-color: var(--theme-color-background);
}

.header {
    text-align: center;
}

.list {
    padding: 0;
    line-height: 3em;

    list-style-type: none;
}