/* SPDX-License-Identifier: AGPL-3.0-or-later */
/* Copyright © 2021 Josué Ulises Sandoval Jiménez */

.header {
    display: flex;

    padding: 1em;

    justify-content: space-between;

    background-color: var(--theme-color-headerBgColor);
    color: var(--theme-color-headerColor);

    cursor: default;
}
@media screen and (min-width: 576px) {
    .header {
        padding: 1em 2em;
    }
}
@media screen and (min-width: 768px) {
    .header {
        padding: 1em 3em;
    }
}

.siteName {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

.languageLink, .languageLink:visited {
    color: var(--theme-color-headerColor);
}