/*-----DEFAULTS-----*/

/*BOX SIZING*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  line-height: 1.5;
}

/*URL DECORATION*/
a {
  text-decoration: none;
  color: var(--theme-dark-color-link);
}
a:visited {
  color: var(--theme-dark-color-linkVisited)
}
a:hover {
  text-decoration: underline;
}


/*-----THEME HOOKS-----*/

*, *:before, *:after {
  font-family: var(--theme-typography-bodyFamily);
  font-weight: var(--theme-typography-bodyWeight);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--theme-typography-headerFamily);
  font-weight: var(--theme-typography-headerWeight);
}

img {
  opacity: var(--theme-dark-pictureOpacity);
}